body{
    font-family: 'Poppins', sans-serif;
}
.sec-1{
    display: flex;
    justify-content: 50%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.cat{
    margin-right: 10px;
}
#sam{
    font-size:50px;
}
.button-1{
    height: 2em;
    width: 10em;
    background-color: rgb(207, 50, 123);
    border-radius: 10px;
    border:none ;
    margin-top: 10px;

}
.fas fa-arrow-{
    padding-left: 2px;
    color: #fff;
    
}
.span1{
    color: azure;
}
.main {
    background-image: url(images/Circle\ design.svg);
    padding-right: 100px;
    background-repeat: no-repeat;
}
.main img{
    margin-top: 20px;
}
.rat{
    text-align: center;
}
.sec-2{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 40px  300px 20px  100px;
    grid-gap: 15px 15px;
}
.tiger{
    background-color: #fff;
    border: 5px solid  #fff;
    border-radius: 10px;
    padding-bottom: 100px;
    box-shadow: 10px 10px 50px rgb(97, 95, 95);
    height: 350px;
    width: 350px;
}
.tiger img{
    height: 250px;
    width: 350px;
}
.sec-3{
    display: flex;
    width:50%;
    margin:50px  50px 0px 100px; 
    
}
#kam{
    margin-right: 40px;
}
#kam img{
    width: 400px;
    border-radius: 10px;
}
.bird{
    margin: 10px 10px 20px 0px ;
    padding: 10px  20px  150px 10px;
}
#ram{
    text-decoration: none;
    background-color: rgb(226, 16, 156);
    border:none;
    height: 30px;
    width: 80px;
}
.sec-4{
    background-color:black;
    width: 100%;
    height: 30%;
}
footer{
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fab fa-{
    margin-right:20px;
}